*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 1600px;
    margin: 0 auto;
}
.card_1 {
    width: 1600px;
    background: url(../picture/bg.png) no-repeat;
    padding: 120px 200px 45px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_1 h1 {
    font-family: 'Lato', sans-serif;
    width: 446px;
    height: 134px;
    color:  #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 67.2px */
    text-transform: uppercase;
    margin-bottom: 20px;
}
.card_1 p {
    width: 537px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 50px;
}
.card_1_btn {
    padding: 22px 56px;
    background: #AE7B3C;
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
    margin-bottom: 120px;

    color:  #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    transition: all;
}
.card_1_btn:hover {
    background: #fdc888;
    color: black;
    transition: all 0.5s;
}
.card_1_btn:active {
    background: #a78358;
    transition: all 0.1s;
}
.navigatiion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding-top: 25px;
    border-top: 1px solid #fff;
}
.left {
    display: flex;
    gap: 25px;
    cursor: pointer;
}
.right {
    display: flex;
    gap: 15px;
}
.number_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    stroke-width: 1px;
    stroke:  #FFF;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
    transition: all;

    color:  #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
}
.number_1:hover {
    background-color: gray;
    transition: all 0.3s;
}
.number_1:active {
    background-color: inherit;
    transition: all 0.2s;
}


.card_2 {
    padding: 0 230px;
    background-color: #FFF;
}
.card_2 h2 {
    color: #282B22;
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 57.5px */
    text-transform: uppercase;
    padding-top: 140px;
    margin-bottom: 80px;
}
.boxs {
    display: flex;
    gap: 29px;
    margin-bottom: 140px;
}
.boxs span {
    color:  #282B22;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
}
.boxs h4 {
    color:  #3D4A39;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    margin-top: 60px;
    margin-bottom: 54px;
}
.box2 {
    border-left: 1px solid rgb(201, 201, 201);
    border-right: 1px solid rgb(201, 201, 201);
    padding-left: 29px;
    padding-right: 29px;
}
.card_3 {
    padding: 100px 271px 100px 333px;
    background: #3D4A39;
}
.card_3 h1 {
    text-align: center;
    color: #FFF;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 57.5px */
    text-transform: uppercase;
    margin-bottom: 70px;
}
.windows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.window {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.window span {
    color:  #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
    opacity: 0.5;
}

.lamps {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.lamp {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lamp span {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
    opacity: 0.5;
}
.gift {
    width: 278px;
}

.card_4 {
    width: 1600px;
    padding: 100px 200px 140px 200px;
}
.card_4 h2 {
    width: 814px;
    color: #282B22;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 46.8px */
    margin-left: 190px;
}
.text {
    width: 926px;
    display: flex;
    gap: 120px;
    margin-left: 147px;
    margin-top: 80px;padding-top: 35px;
    border-top: 1px solid rgb(190, 181, 181);

}
.text_left {
    display: flex;
    align-items: start;
    gap: 15px;
}
.text_left p {
    width: 370px;
    color: #282B22;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.information {
    position: relative;
    width: 1200px;
    padding-bottom: 35px;
    padding-top: 40px;
    border-bottom: 1px solid rgb(190, 181, 181);
}
.display {
    position: absolute;
    top: -161px;
    left: -80px;
}
.display1 {
    position: absolute;
    top: -28px;
    right: -130px;
}

.card_5 {
    padding: 0px 200px 140px 200px;
    position: relative;

}
.card_5 h2 {
    color:  #282B22;
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 57.5px */
    text-transform: uppercase;
    margin-bottom: 80px;
}
.okey1 {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    border-bottom: 1px solid rgb(244, 227, 227);
    border-top: 1px solid rgb(244, 231, 231);
}
.span_grey {
    color:  #282B22;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    margin-right: 613px;
    opacity: 0.3;
}
.h3_grey {
    color: #282B22;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
    margin-bottom: 10px;
}
.okey1 p {
    color:  #282B22;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 21.6px */
    opacity: 0.8;
}
.ok1 {
    width: 471px;
    color:  #282B22;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 21.6px */
    opacity: 0.8;
}
.span_gold {
    color: #AE7B3C;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    margin-right: 613px;
}
.h3_gold {
    color:  #AE7B3C;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
}
.women {
    position: absolute;
    top: 405px;
    left: 344px;
}


.card_6 {
    width: 1600px;
    display: flex;
}
.left_card {
    padding: 100px 187px 100px 200px;
    background: #3D4A39;
    width: 800px;
}
.left_card h2 {
    width: 413px;
    color: #FFF;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 57.5px */
    text-transform: uppercase;
    margin-bottom: 20px;
}
.left_card p {
    width: 306px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
    opacity: 0.8;
    margin-bottom: 40px;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    border: none;
    background-color: inherit;
    outline: none;
    width: 300px;
    margin-bottom: 26px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(134, 131, 131);
}
::placeholder {
    color:  #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
    opacity: 0.5;
}
.docs {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;
}
.docs p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    margin: 0;
}
.left_btn {
    padding: 22px 103px;
    background: #AE7B3C;
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
    border: none;
    margin-bottom: 25px;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
}
.rectangle {
    display: flex;
    align-items: center;
    gap: 10px;
}
.rectangle span {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
}
.img {
    width: 800px;
    background-image: url(../picture/bg_2_1600w.png);
}




@media screen and (max-width: 1005px) {
    .container {
        width: 1000px;
    }
    .card_1 {
        width: 1000px;
        padding: 120px 20px 45px 20px;
        background-image: url(../picture/bg_tablet.png);
    }
    .navigatiion {
        width: 960px;
    }

    .bg_1 {
         width: 280px;
         height: 320px;
    }

    .bg_2 {
        width: 280px;
        height: 320px;
    }

   .bg_3 {
        width: 280px;
        height: 320px;
    }
    .card_2 {
        padding: 0 40px;
    }
    .boxs {
        display: flex;
        gap: 20px;
    }
    .box2 {
        padding: 0 20px;
    }
    .box3 h4 {
        margin-bottom: 30px;
    }
    .card_3 {
        padding: 100px 60px 100px 99px;
    }


    .card_4 {
        width: 1000px;
        padding: 100px 20px 140px 20px;
    }
    .card_4 h2 {
        margin-left: 90px;
    }
    .text {
        width: 960px;
        gap: 154px;
        margin-left: 0;
    }
    .information {
        width: 960px;
    }
    .display {
        display: none;
    }
    .display1 {
        display: none;
    }


    .card_5 {
        padding: 0px 20px 140px 20px;
        position: relative;
    }
    .span_grey {
        margin-right: 493px;
    }
    .okey1 p {
        width: 450px;
    }
    .ok1 {
        width: 451px;
    }
    .span_gold {
        margin-right: 493px;
    }
    .women {
        position: absolute;
        top: 435px;
        left: 104px; 
    }


    .card_6 {
        width: 1000px;
    }
    .left_card {
        padding: 100px 87px 100px 20px;
        width: 500px;
    }
    .img {
        width: 500px;
        background-image: url(../picture/bg100w.png);
    }



}
@media screen and (max-width: 640px) {
    .card_1 {
        width: 640px;
        padding: 120px 20px 45px 20px;
        background-image: url(../picture/bg_640w.png);
    }
    .navigatiion {
        width: 600px;
    }
    .card_2 {
        width: 640px;
        padding: 0 20px 0 40px;
    }
    .card_2 h2 {
        color:  #282B22;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 45px */
        text-transform: uppercase;
    }
    .boxs {
        flex-wrap: wrap;
    }
    .box2 {
        border: none;
        padding: 0;
        padding-left: 20px;
    }
    .bg_1 , .bg_3 {
        width: 260px;
    }
    .card_3 h1 {
        color:  #FFF;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 45px */
        text-transform: uppercase;
    }
    .card_3 {
        width: 640px;
        padding: 100px 45px 100px 50px;
    }
    .card_3 span {
        color:  #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 23.4px */
    }
    .gaz {
        width: 118px;
    }
    .gift {
        width: 195px;
    }



    .card_4 {
        width: 640px;
        padding: 100px 20px 140px 20px;
    }
    .card_4 h2 {
        width: 600px;
        color: #282B22;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 36.4px */
        margin-left: 0px;
    }
    .text {
        width: 600px;
        display: flex;
        gap: 59px;
        margin-left: 0px;
        margin-top: 80px;padding-top: 35px;
        border-top: 1px solid rgb(190, 181, 181);
    
    }
    .text_left p {
        width: 243px;
        color: #282B22;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 145%; /* 23.2px */
    }
    .information {
        width: 600px;
    }
    .display {
        display: none;
    }
    .display1 {
        display: none;
    }



    
    .card_5 {
        padding: 0px 20px 140px 20px;
        width: 640px;
    }
    .okey1 span {
        margin-right: 302px;
    }
    .okey1 h3 {
        color: #282B22;
    }
    .okey1 p {
        width: 250px;
    }
    .women {
        display: none;
    }



    .card_6 {
        width: 640px;
    }
    .left_card {
        padding: 100px 34px 100px 20px;
        width: 320px;
    }
    .left_card h2 {
        width: 266px;
        color: #FFF;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 45px */
        text-transform: uppercase;
    }
    .left_card p {
        width: 266px;
    }
    input {
        width: 266px;
    }
    .left_btn {
        padding: 22px 73px;
        background: #AE7B3C;
        box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
        border: none;
        margin-bottom: 25px;
    
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 16px */
    }
    .rectangle {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .rectangle span {
        width: 154px;
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 15.6px */
        opacity: 0.5;
    }
    .img {
        width: 320px;
        background-image: url(../picture/bg640.png);
    }
}


@media screen and (max-width: 320px) {
    .card_1 {
        width: 320px;
        padding: 70px 10px 15px 10px;
        background-image: url(../picture/bg_320w.png);
    }
    .navigatiion {
        width: 300px;
        display: flex;
        justify-content: center;
    }
    .left {display: none;}
    .card_1 h1 {
        width: 296px;
        height: 68px;
        color: #FFF;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 33.6px */
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 28px;
    }
    .card_1 p {
        width: 300px;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 145%; /* 23.2px */
        opacity: 0.8;
        margin: 0;
        margin-bottom: 30px;
    }
    .card_1_btn {
        margin: 0;
        margin-bottom: 62px;
    }
    .card_2 {
        width: 320px;
        padding: 0 10px 0 10px;
    }
    .card_2 h2 {
        width: 290px;
        color:  #282B22;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 33.6px */
        text-transform: uppercase;
    }
    .boxs {
        flex-wrap: wrap;
    }
    .box2 {
        padding: 0;
    }
    .bg_1 , .bg_2 , .bg_3 {
        width: 300px;
    }

    .card_3 {
        width: 320px;
        padding: 80px 10px 80px 16px;
    }
    .card_3 h1 {
        width: 238px;
        color:  #FFF;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%; /* 32.4px */
        text-transform: uppercase;
    }

    .windows {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .lamps {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .gift {
        width: 149px;
    }
    .flex {
        display: flex;
    }



    .card_4 {
        width: 320px;
        padding: 100px 10px 140px 10px;
    }
    .card_4 h2 {
        width: 299px;
        color: #282B22;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 26px */
    }
    .text {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-left: 0px;
    
    }
    .text_left p {
        width: 272px;
        font-size: 16px;
        line-height: 155%; /* 27px */
    }
    .information {
        width: 320px;
    }
    .display {
        display: none;
    }
    .display1 {
        display: none;
    }



    .card_5 {
        padding: 0px 10px 140px 10px;
        width: 320px;
    }
    .card_5 h2 {
        color: #282B22;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%; /* 32.4px */
        text-transform: uppercase;
        margin-bottom: 80px;
    }
    .okey1 span {
        margin-right: 13px;
    }
    .okey1 h3 {
        color: #282B22;
    }
    .okey1 p {
        width: 250px;
    }
    .women {
        display: none;
    }
    .women {
        display: none;
    }


    

    .card_6 {
        width: 320px;
        display: flex;
        flex-direction: column;
    }
    .left_card {
        padding: 60px 10px 60px 10px;
        background: #3D4A39;
        width: 320px;
    }
    .left_card h2 {
        width: 216px;
        color: #FFF;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 33.6px */
        text-transform: uppercase;
    }
    .left_card p {
        width: 266px;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 145%; /* 23.2px */
        opacity: 0.8;
        margin-bottom: 40px;
    }
    .docs {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 40px;
    }
    .img {
        width: 320px;
        height: 360px;
        background-image: url(../picture/bg320.png);
    }
}